body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

h1, h2 {
    color: #333;
}

form {
    margin-bottom: 20px;
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}
.container {
    margin-top: 20px;
}

.modal-header {
    background-color: #007bff;
    color: white;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
}
header {
    background-color: #007bff;
    color: white;
    padding: 10px 0;
}

header img {
    height: 50px;
}

header h1 {
    margin: 0;
    font-size: 24px;
}
.button-container {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 5px; /* Отступ между кнопками и календарем */
}

.button-container .btn:last-child {
    margin-left: auto;
}
